<div class="form-group form-inline input-group-sm align-items-start">
  <%= form.input :state_cd, input_html: {col: 3} %>
  <%= form.input :state_name, input_html: {col: 5} %>
</div>
<div class="form-group form-inline input-group-sm align-items-start">
  <%= form.input :default_value %>
  <%= form.input :end_point %>
  <%= form.input :deleted_state %>
</div>
