<%= page_entries_info @issues %>

<table class="table table-hover table-striped table-condensed">
<% unless @issues.empty? %>
  <thead>
    <tr>
      <th class="col-md-3"><%= t(:"views.issues.fields.title")%></th>
      <th class="col-md-2"><%= t(:"views.issues.fields.created_at")%></th>
      <th class="col-md-1"><%= t(:"views.issues.fields.issue_type")%></th>
      <th class="col-md-2"><%= t(:"views.issues.fields.workflow_state")%></th>
      <th class="col-md-2"><%= t(:"views.issues.fields.action")%></th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue|%>
      <tr>
        <td><%= link_to issue.title, issue_path(issue) %></td>
        <td><%= issue.created_at.try(:strftime, "%Y-%m-%d %H:%M:%S") %></td>
        <td><%= issue.issue_type.issue_type_name %></td>
        <td><%= issue.workflow_state.state_name %></td>
        <td>
          <%# if enable_action?("issues/update", :PATCH) %>
            <%= link_to t(:"views.issues.index.table_issues.button_edit"), edit_issue_path(issue, edit_clear: true), class: "btn btn-primary btn-sm" %>
          <%# end %>
          <%# if enable_action?("issues/destroy", :DELETE) %>
            <%= link_to t(:"views.issues.index.table_issues.button_destroy"), issue_path(issue), data: { turbo_method: :delete, turbo_confirm: t(:"views.common.destroy_confirm_message") }, class: "btn btn-danger btn-sm" %>
          <%# end %>
        </td>
      </tr>
    <% end %> 
  </tbody>
<% end %>
</table>
<%= paginate @issues %>
