<div class="form-group form-inline input-group-sm align-items-start">
  <%= form.input :site_ids, as: :check_boxes,
                 collection: @sites.map{|x| [x.site_name,x.id]},
                 item_wrapper_class: "form-check-inline"
  %>
</div>
<div class="form-group form-inline input-group-sm align-items-start">
  <%= form.input :setting_category_div, as: :select, collection: @setting_category_div_entries.map{|x|[x.name, x.id]}, input_html: {col: 2} %>
  <%= form.input :setting_div, as: :select, collection: @setting_div_entries.map{|x|[x.name, x.id]}, input_html: {col: 3}  %>
</div>
<div class="form-group form-inline input-group-sm align-items-start">
  <%= form.input :hint, as: :text, input_html: {col:8, rows: 5, readonly: true} %>
</div>

<% if ::SystemSetting.setting_div_entry_by_id(form.object.setting_div)[:input_type] == :string %>
  <div class="form-group form-inline input-group-sm align-items-start">
    <%= form.input :setting_value, autofucus: true, as: :text, input_html: {col: 8, rows: 5} %>
  </div>
<% end %>
<% if ::SystemSetting.setting_div_entry_by_id(form.object.setting_div)[:input_type] == :boolean %>
  <div class="form-group form-inline input-group-sm align-items-start">
    <%= form.input :setting_value, autofucus: true, as: :boolean %>
  </div>
<% end %>

<% if @system_setting.input_type == :file %>
  <% unless form.object.system_setting_attachments.empty? %>
    <table class="table table-hover table-striped table-condensed">
      <thead>
        <tr>
          <th>#</th>
          
          <th colspan="2"><%= t(:"views.system_settings.fields.filename") %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% if form.object.system_setting_attachments.empty? %>
          <tr>
            <td colspan="4">No data</td>
          </tr>
        <% end %>    
        <%  form.object.system_setting_attachments.each_with_index do |system_setting_attachment, idx| %>
          <tr>
            <td><%= idx+1 %></td>
            <td><%= image_tag system_setting_attachment.document.to_s, class: "system-setting-icon", style: "max-height: 64px;" %></td>
            <td><%= link_to system_setting_attachment.filename, system_setting_attachment.document.url,download: system_setting_attachment.filename %></td>
            <td><%= link_to t(:"views.system_settings.edit.table_system_settings.button_destroy"), admin_system_setting_system_setting_attachment_path(form.object, system_setting_attachment), data: { turbo_method: :delete, turbo_confirm: t(:"views.common.destroy_confirm_message") }, class: "btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class="fileupload-buttonbar">
    <div>
      <span class="btn btn-success fileinput-button">
        <i class="fa fa-plus"></i>
        <span><%= t(:"views.system_settings.fields.add_file")%></span>
        <input class="file optional" id="system_setting_system_setting_attachments_attributes_0_document" name="system_setting[system_setting_attachments_attributes][][document]" type="file" />
      </span>
      <button type="submit" class="btn btn-primary start" id="upload-btn" style="display:none;">
        <i class="glyphicon glyphicon-upload"></i>
        <span>Start upload</span>
      </button>
      <span class="fileupload-process"></span>
    </div>
   <div class="fileupload-progress fade">
     <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
       <div class="progress-bar progress-bar-success" style="width:0%;"></div>
     </div>
     <div class="progress-extended">&nbsp;</div>
   </div>
  </div>

  <%= form.input :uuid, as: :hidden%>
  <table role="presentation" class="table table-striped template-upload-files"><tbody class="files"></tbody></table>

  <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
      <tr class="template-upload fade">
        <td>
          <span class="preview"></span>
        </td>
        <td>
          <p class="name">{%=file.name%}</p>
          <strong class="error text-danger"></strong>
        </td>
        <td>
          <p class="size">Processing...</p>
          <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
          {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled style="display:none;">
              <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
              </button>
          {% } %}
          {% if (!i) { %}
            <button class="btn btn-warning cancel">
              <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
          {% } %}
        </td>
      </tr>
    {% } %}
</script>
<% end %>