<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2 align-items-center">
      <div class="col-sm-6">
        <h1><%= t(:"views.sites.edit.title")%></h1>
        <small><%= t(:"views.sites.edit.header_guide")%></small>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <%= simple_form_for([:admin, @site], builder: RbaseFormBuilder, html: {data: {turbo_confirm: t(:"views.common.update_confirm_message"), turbo: true, action: "change->admin--sites#form_change"}}) do |f| %>

            <div class="card-body">
              <%= f.error_notification %>
              <div class="form-group">
                <%= render partial: 'form', locals: {form: f} %>
              </div>
            </div>
            <div class="card-footer">
              <%= f.submit t(:"views.sites.edit.button_update"), class: "btn btn-primary btn-sm"%>
              <%= link_to t(:"views.sites.new.button_cancel"), admin_sites_path, class: "btn btn-default btn-sm btn-sm" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
